<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.MemberMapper">
	<select id="selectMember" parameterType="string" resultType="MemberVO">
		SELECT 
			MEM_ID
			, MEM_PASSWORD
			, MEM_NAME
			, MEM_REGNO1
			, MEM_REGNO2
			, MEM_BIR
			, MEM_ZIP
			, MEM_ADD1
			, MEM_ADD2
			, MEM_HOMETEL
			, MEM_COMTEL
			, MEM_HP
			, MEM_MAIL
			, MEM_JOB
			, MEM_HOBBY
			, MEM_MEMORIAL
			, MEM_MEMORIALDAY
			, MEM_MILEAGE
			, MEM_DELETE
			, MEM_ROLE
		FROM MEMBER
		WHERE MEM_ID = #{asd}
	</select>
</mapper>