<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.MemberMapper">
	<select id="selectMember" parameterType="string" resultType="MemberVO">
		SELECT mem_id "memId",
			   mem_password,
			   mem_name,
			   mem_mail,
			   mem_bir
		FROM MEMBER
		WHERE MEM_ID = #{asd}
	</select>
</mapper>